/*Body/html Styling*/
/*Gif may be slower depeding on screen*/
body{
	display:flex;
	background-image: url('web.gif'); /*Gif. runuing in the backround*/ 
	justify-content: center;
	padding-top: 4em;
}
/*h1 Styling*/
h1{
	justify-content: center;
	text-align: center;
	font-size: 1.7em;
	padding: 1em;
	border-bottom: solid;
}
/* The beginng of the form: color and font family */
/*Creating the space that contains user infomation*/
form{
	background: white;
	border-radius: 25px;
	font-family: "consolas";
	background-color: black;
	color:#39ff14
}
/* p Styling*/
p{
	justify-content: center;
	text-align: center;
	font-size: 1.4em;
	padding: 1em;
	display:flex;
}
/* input aligntment */
input {
  border-radius: 25px;
  text-align: center;
}
/* content aligntment */
#content{
	align-items: center;
	justify-content: center;
	border-radius: 1em;
}
/* email input and styling */
/*Note email was seprated due to display purpose*/
#input-email{
	justify-content: center;
	text-align: center;
	font-size: 1.3em;
	padding: 1em;
	display: flex;
}
/* phone,name,submit input and styling and style */
#userphone,#input-name,#input-submit{
	justify-content: center;
	text-align: center;
	font-size: 1.3em;
	padding: 1em;
}
/* sepration due to error occuring when combiend */
#userphone,#input-name,#input-submit{
	padding: 1em;
}
/* beginning of media: Mobile */
@media(max-width: 400px){
/*html Styling*/
html{
	display: flex;
	margin: 0;
	position: absolute;
}
/* p Styling*/
p{
	justify-content: center;
	text-align: center;
}
/* The beginng of the form: color and font family */
form{
	background: white;
	font-family: "consolas";
	color:black;
}
}
/* beginning of media: Tablet */
@media(max-width: 900px){
/*html Styling*/
html{
	display: flex;
	margin: 0;
	position: absolute;
	justify-content: center;
	text-align: center;
}
}
