body{
	display:flex;
	background-image: url('web.gif');
	justify-content: center;
	padding-top: 4em;
}
h1{
	justify-content: center;
	text-align: center;
	font-size: 1.7em;
	padding: 1em;
	border-bottom: solid;
}
form{
	background: white;
	border-radius: 25px;
	font-family: "consolas";
	background-color: black;
	color:#39ff14
}
p{
	justify-content: center;
	text-align: center;
	font-size: 1.4em;
	padding: 1em;
	display:flex;
}
input {
  border-radius: 25px;
  text-align: center;
}
#content{
	align-items: center;
	justify-content: center;
	border-radius: 1em;
}
#input-email{
	justify-content: center;
	text-align: center;
	font-size: 1.3em;
	padding: 1em;
	display: flex;
}
#userphone,#input-name,#input-submit{
	justify-content: center;
	text-align: center;
	font-size: 1.3em;
	padding: 1em;
}
#userphone,#input-name,#input-submit{
	padding: 1em;
}
@media(max-width: 400px){
html{
	display: flex;
	margin: 0;
    position: absolute;
}
p{
	justify-content: center;
	text-align: center;
	font-size: 1 em;
}
form{
	background: white;
	font-family: "consolas";
	color:black;
}
}
@media(max-width: 900px){
html{
	display: flex;
	margin: 0;
    position: absolute;
	justify-content: center;
	text-align: center;
}
}
